
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-02/config.json
*.xml
*.iml
datasets/Cornell-University/arxiv/arxiv-metadata-oai-snapshot.json
datasets/Cornell-University/arxiv/arxiv-metadata-oai-snapshot.json.zip
datasets/Cornell-University/arxiv/trimmed_arxiv_docs.json/dataset_dict.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-01/config.json
*.arrow
*.1
*.0
*.bin
datasets/Cornell-University/arxiv/trimmed_arxiv_docs.csv
datasets/Cornell-University/arxiv/trimmed_arxiv_docs.json/test/dataset_info.json
datasets/Cornell-University/arxiv/trimmed_arxiv_docs.json/test/state.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-01/vocab.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-01/merges.txt
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-01/special_tokens_map.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-01/tokenizer.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-02/merges.txt
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-01/tokenizer_config.json
datasets/Cornell-University/arxiv/trimmed_arxiv_docs.json/train/state.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-02/tokenizer.json
datasets/Cornell-University/arxiv/trimmed_arxiv_docs.json/train/dataset_info.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-02/special_tokens_map.json
fine_tuned_models/gpt-neo-125M-ML-ArXiv-Papers-02/tokenizer_config.json
*.json
